body {
    display: flex;
    flex-direction: column;
    margin: 0;
    min-height: 100vh;
}

header, footer {
    background-color: rgb(21, 21, 95);
}

.middler {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
}

aside {
    background-color: rgb(127, 127, 127);
    flex-basis: 15%;
}

aside > img {
    width: 100%;
    /* padding-top: 50%;
    padding-bottom: 50%; */
    margin: 0;
    padding: 0;
}

main {
    flex-basis: 70%;
}

li > a {
    font-family: sans-serif;
    color: white;
    text-decoration: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    filter: drop-shadow(0px 4px 7px rgb(127, 127, 127));
}

img.logo {
    width: 5%;
}

.nav-links {
    list-style: none;
}

.nav-links > li {
    display: inline-block;
    padding: 0px 20px;
}

.nav-links > li > a {
    transition: all 0.3s ease 0s;
}

.nav-links > li > a:hover {
    color: lightblue;
}

/* nav {
    filter: drop-shadow(0px, 4px, 7px, darkgray);
} */

footer > p > a {
    color: white;
}