/* create a flexbox to hold outer borders and main section */
body {
    display: flex;
    flex-direction: column;
    margin: 0;
    min-height: 100vh;
}

/* color for headers and footers */
header, footer {
    background-color: rgb(21, 21, 95);
}

/* flexbox for sidebars and main content */
.middler {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
}

/* background colors and width for sidebars */
aside {
    background-color: rgb(127, 127, 127);
    /* position: fixed; */
    flex-basis: 15%;
    /* top: 0;
    bottom: 0; */
}

/* .lefter {
    left: 0;
}

.righter {
    right: 0;
} */

/* styling for images within sidebars */
aside > img {
    width: 100%;
    /* padding-top: 50%;
    padding-bottom: 50%; */
    margin: 0;
    padding: 0;
}

/* give the main content the rest of the space */
main {
    flex-basis: 70%;
}

/* text for links */
li > a {
    font-family: sans-serif;
    color: white;
    text-decoration: none;
}

/* flexbox for items in header */
/* shadow under header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    filter: drop-shadow(0px 4px 15px rgb(0, 0, 0));
    /* position: fixed; */
    /* width: 100%; */
}

/* sizing for top left logo image */
img.logo {
    width: 5%;
}

/* remove dots from list in navbar */
.nav-links {
    list-style: none;
}

/* styling for individual navlinks */
.nav-link {
    display: inline-block;
    padding: 0px 20px;
}

/* slight transition of color over time when hovered over */
.nav-link > a {
    transition: all 0.3s ease 0s;
}

.nav-links > li > a:hover {
    color: lightblue;
}

/* center about link */
footer > p {
    text-align: center;
}

footer > p > a {
    color: white;
}

/* set main to take up whole space when screen too narrow */
@media (max-width: 400px) {
    aside {
        overflow: hidden;
    }
    main {
        width: 100%;
    }
}