main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

main > img {
    width: 50%;
}

#apply-button {
    background-color: rgb(21, 21, 95);
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

#apply-button:hover {
    cursor: pointer;
}